//npm.pkg.github.com/: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
$ npm login --scope=@OWNER --registry=https://npm.pkg.github.com

> Username: Maureenshiko
> Password: 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
> Email: maureenshimwa@gmail.com
@Maureenshiko:registry=https://npm.pkg.github.com
