//npm.pkg.github.com/:_authToken=TOKEN

 npm login --scope=@OWNER --registry=https://npm.pkg.github.com

> Username: Maureenshiko
> Password: $ ssh-keygen -t ed25519 -C "maureenshimwa@gmail.com"

> Email: maureenshimwa@gmail.com
